<div th:insert="fragments/header::header"></div>
	
				<div class="formulaire p-3">
					<h1>Pour ajouter une photo, cliquer sur la carte</h1>
					<form method="post" th:object="${photo}" enctype="multipart/form-data">
						<div class="mb-3">
						  <label for="fileImage" class="form-label">Télécharger votre photo</label>
						  <input class="form-control" type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg">
						</div>
						<div class="mb-3">
							<img id="thumbnail" alt="image preview" />
						</div>
					  <div class="mb-3">
					    <label for="titre" class="form-label">Titre</label>
					    <input type="text" class="form-control" id="titre" name="titre">
					  </div>
					  <div class="mb-3">
					    <label for="date" class="form-label">Date</label>
					    <input type="date" class="form-control" id="date" name="date">
					  </div>
					  <div class="mb-3">
						  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
						  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
					  </div>
					  <div class="mb-3 form-check">
					    <input type="checkbox" class="form-check-input" id="publique" name="publique">
					    <label class="form-check-label" for="publique">Photo publique</label>
					  </div>
					  <div class="mb-3">
						  <select class="form-select" name="album">
							  <option selected>Choisisez un album</option>
							  <option th:each="album:${albums}" th:value="${album.id}" 
	                th:text="${album.nom}"></option>
							</select>
						</div>
						<!-- <div class="mb-3">
						<select class="form-select" multiple >
						  <option selected>Choisisez une ou plusieurs ctégories</option>
						  <option value="1">One</option>
						  <option value="2">Two</option>
						  <option value="3">Three</option>
						</select>
						</div>-->
						<div class="mb-3">
							<input type="hidden" class="form-check-input" id="longitude" name="longitude" value="">
							<input type="hidden" class="form-check-input" id="latitude" name="latitude" value="">
						</div>
					  <button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			
	<div id="map"></div>
	
	
    <!-- Fichiers Javascript -->
    <!-- <script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js'></script> -->
    <!-- <script type='text/javascript'th:src="@{js/initLeaflet.js}"></script>-->
    <script type='text/javascript'th:src="@{js/ajout.js}"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
    		$('#fileImage').change(function(){
    			showImageThumbnail(this);
    		});
    	}
    	);
    	
    	function showImageThumbnail(fileInput){
    		file = fileInput.files[0];
    		reader = new FileReader();
    		
    		reader.onload = function(e) {
    			$("#thumbnail").attr("src", e.target.result);
    		};
    		
    		reader.readAsDataURL(file);
    	}
    </script>
</body>
</html>