<th:block th:insert="fragments/header::header"></th:block>
    <div class="listePhotos p-3">
		<h1>liste des photographes</h1>
		<div class="btn btn-outline-warning" th:if="${users.isEmpty()}">
	        Pas de photographe
	    </div>
    	<div th:if="${!users.isEmpty()}">
        	<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nom</th>
			      <th scope="col">Prénom</th>
			      <th scope="col">Email</th>
			      <th scope="col">latitude</th>
			      <th scope="col">longitude</th>
			      <th scope="col">role</th>
			      <th scope="col">albums</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="user:${users}">
			      <th scope="row"  th:text="${user.id}"> </td>
			      <td th:text="${user.nom}"> </td>
			      <td th:text="${user.prenom}"> </td>
			      <td th:text="${user.email}"> </td>
			      <td th:text="${user.latDefault}"> </td>
			      <td th:text="${user.longDefault}"> </td>
			      <td th:text="${user.role} ? 'admin' : 'photographe'"> </td>
			      
			    </tr>
			    
			  </tbody>
			</table>
			</div>
    </div>
      <div id="map"></div>
 
    <!-- Fichiers Javascript -->
<script type="text/javascript">
              			var lat = 46.227638;
              			var lon = 2.213749;
            		</script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js'></script>
    <script type='text/javascript'th:src="@{js/initLeaflet.js}"></script>
</body>
</html>