<div th:insert="fragments/header::header"></div>
    
	<div class=container>
   		<div class="row gx-5">
   			<div class="col">
   				<div class=p-3>
    				<h1>Connexion</h1>
    				<form method="post">
						<div class="mb-3">
							<label for="email" class="form-label">Adresse Email</label>
							<input type="email" class="form-control" id="email" name="email">
						</div>
						<div class="mb-3">
							<label for="Password1" class="form-label">Mot de passe</label>
							<input type="password" class="form-control" id="Password1" name="password">
						</div>
						<button type="submit" class="btn btn-primary">Connexion</button>
					</form>
					<div class="p-3">
						<p>Pas encore de compte ? <a th:href="@{/signup}">inscrivez-vous !</a></p>
					</div>					
				</div>
   			</div>
   		</div>
   	</div>
   	<div id="map"></div>
 
    <!-- Fichiers Javascript -->
	
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script type='text/javascript'th:src="@{js/initLeaflet.js}"></script>
</body>
</html>