@charset "UTF-8";
#map {
    height:calc(100vh - 56px);
    z-index: 1;
}

#mapAddPhoto {
	width: 66%;
}

nav .navbar-text a.btn-light {
	color: #000;
}
.container {
	position: absolute;
	top: 150px;
	right: 50px;
	z-index: 10;
}

.formulaire {
	position: absolute;
	top: 100px;
	right: 50px;
	z-index: 10;
	background-color: #ffffffee;
	border-radius:5px;
	width:33%;
	max-height:85vh;
	overflow:auto;
}

.listePhotos {
	position: absolute;
	top: 100px;
	right: 50px;
	z-index: 10;
	background-color: #ffffffee;
	border-radius:5px;
	width:90%;
	height:85vh;
	overflow:scroll;
}

.container div div div {
	background-color: #ffffffee;
	border-radius:5px;
}

#addPhoto .container {
	position:relative;
}

.thumbnail {
	max-width:250px;
}
