@charset "UTF-8";
#map {
    height:100vh;
    z-index: 1;
}

#mapAddPhoto {
	width: 66%;
}

.container {
	position: absolute;
	top: 150px;
	right: 50px;
	z-index: 10;
}

.formulaire {
	position: absolute;
	top: 100px;
	right: 50px;
	z-index: 10;
	background-color: #ffffffee;
	border-radius:5px;
	width:33%;
}

.listePhotos {
	position: absolute;
	top: 100px;
	right: 50px;
	z-index: 10;
	background-color: #ffffffee;
	border-radius:5px;
	width:50%;
}

.container div div div {
	background-color: #ffffffee;
	border-radius:5px;
}

#addPhoto .container {
	position:relative;
}

#thumbnail {
	max-width:250px;
}
