<th:block th:insert="fragments/header::header"></th:block>
    
	<div class=container>
   		<div class="row gx-5">
   			<div class="col">
   				<div class=p-3>
    				<h1>Nouvel album</h1>
    				<form method="post"  th:action="@{/add-album}" th:object="${album}">
						<div class="mb-3">
							<label for="name" class="form-label">nom de l'album</label>
							<input type="text" class="form-control" id="name" name="name">
						</div>
						<button type="submit" class="btn btn-primary">Ajouter</button>
					</form>				
				</div>
   			</div>
   		</div>
   	</div>
   	<div id="map"></div>
 
   <!-- Fichiers Javascript -->
	
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script type='text/javascript'th:src="@{js/initLeaflet.js}"></script>
</body>
</html>